a, a:hover, a:focus {
  color: #039BE5;
}

.facebook-color {
  background: #4067b4;
  color: #FFF;
}

.twitter-color {
  background: #1da1f2;
  color: #FFF;
}

.line-color {
  background: #00c500;
  color: #FFF;
}

.gmail-color {
  background: #c71610;
  color: #FFF;
}
